body{
        background-color: aliceblue;       
}

#home{
        position: absolute;
        width: 28%;
        height: 20%;
        top: 25%;
        bottom: 0%;
        left: 37%;
        right: 0%;
}

.logo{
        display: block;
        margin: 0 auto;
        width: 50%;
        height: 120%;
}

h1{
        text-align: center;
        margin-bottom: 5%;
}

.btns{
        display: flex;
}

.row{
        margin: 0 auto;
        width: 70%;
        height: 50%;
        display: flex;
        flex-direction: column;
}

.box{
        display: block;
        margin: 0 auto;
}

.btn{
        width: 35%;
        display: block;
        margin: 0 auto;
}

#head{
        font-size: 250%;
        font-weight: bold;
        margin-left: 9%;
}

hr{
        background-color: red;
        height: 20px;
}

.header{
        padding-top: 2%;
}

.header-logo{
        width: 5%;
        height: 10%;
        transform: rotateZ(90deg);
        position: absolute;
        top: 3.5%;
        left: 3%;
}

#fpass{
        padding-top: 10px;
        width: 12%;
        display: block;
        margin: 0 auto;
}

#nav-options {
        position: absolute;
        top: 6%;
        right: 1%;
        font-size: 25px;
}

#nav-options a {
        margin-right: 20px;
        text-decoration: none;
        color: black;
}

#nav-options a:hover {
        color: red;
        transition: color 0.3s;
        border-radius: 5px;
        text-shadow: 1px 1px 2px #636363
}

#cgpass{
       text-decoration: none;
       color: white;
       width: 50%;        
}

#cgpass button{
        width: 70%; 
}