<%- include('partials/header') %>

<div id="home">
        <img src="https://www.pngkit.com/png/detail/53-538250_clip-artspring-lady-bug-transparent-background-ladybug-clipart.png" alt="LadyBug" class="logo">
        <h1>Bug Report System</h1> 
        <div class="btns">
                <a class="btn btn-danger btn-lg" href="/login" role="button">Log In</a>
                <a class="btn btn-dark btn-lg" href="/register" role="button">Register</a>
        </div>
</div>

<%- include('partials/footer') %>